@import "./variables.css";

@font-face {
  font-family: "Geist";
  src: local("GeistRegular"),
    url("./fonts/Geist/Geist-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Geist";
  src: local("GeistBold"),
    url("./fonts/Geist/Geist-Bold.otf") format("opentype");
  font-weight: bold;
}

* {
  font-family: "Geist";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

input,
textarea {
  resize: none;
  padding: calc(var(--size) * 3);
  margin: calc(var(--size) * 3) 0;
  background-color: transparent;
  color: var(--main-text-color);
  border: 1px solid var(--secondary-bg-color);
  border-radius: var(--size);
}

input::placeholder,
textarea::placeholder {
  color: var(--tertiary-text-color);
  font-weight: bold;
}

button,
a {
  all: unset;
  cursor: pointer;
}

a:hover {
  text-underline-offset: calc(var(--size) / 1.5);
  text-decoration: underline;
}

.note-input {
  margin: 0 auto;
  margin-bottom: calc(var(--size) * 12);
}

.note-input input,
.note-input textarea {
  display: block;
  width: 100%;
}

.note-input__header {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.note-input__header-title {
  margin: 0;
}

.note-input__title {
  font-weight: bold;
}

.note-input__title__char-limit {
  font-weight: bold;
  font-size: calc(var(--size) * 3);
  text-align: right;
  color: var(--secondary-text-color);
}

.note-input__body {
  min-height: 175px;
}

.note-input button {
  display: block;
  width: 100%;
  padding: calc(var(--size) * 2);
  background-color: transparent;
  font-family: "Geist";
  color: var(--main-text-color);
  border: 1px solid;
  border-color: var(--main-text-color);
  border-radius: var(--size);
  font-weight: bold;
  cursor: pointer;
  transition-property: color, border-color;
  transition-duration: 200ms;
}

.note-input button:disabled {
  color: var(--secondary-danger);
  cursor: not-allowed;
  border-color: var(--secondary-danger);
}
